.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;
  margin: 0 auto;
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s;
}

.gallery-image:hover,
.gallery-image:focus {
  background: rgba(46, 47, 66, 0.8);
  transform: scale(1.1);
}
